/* Common elements across all pages */

@import url('https://fonts.googleapis.com/css?family=Acme');


#title, #footer {
    text-align: center;
}
#title {
    font-family: 'Acme', sans-serif;
}

a.nav-space {
  padding: 0px 10px;
  word-wrap: normal;
  display: inline-block;
}
